attrs==23.1.0
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
exceptiongroup==1.1.3
Flask==2.2.2
Flask-SQLAlchemy==3.0.2
greenlet==2.0.1
h11==0.14.0
idna==3.4
importlib-metadata==5.1.0
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
outcome==1.2.0
packaging==23.1
pluggy==1.3.0
psycopg2==2.9.5
PySocks==1.7.1
pytest==7.4.2
requests==2.28.1
selenium==4.12.0
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.45
tomli==2.0.1
trio==0.22.2
trio-websocket==0.10.4
urllib3==1.26.13
Werkzeug==2.2.2
wsproto==1.2.0
zipp==3.11.0
