/* Used to properly see containers */
* {
    /* outline: 1px solid red; */
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
  }

.card-img-wrapper{
    height: 200px;
    width: 288px; 
    object-fit: contain;
}

.get-activity-button{
    z-index: 5;
}

.reg-form-error{
    color: red;
    font-size: small;
}

/* Carousel styles */

.carousel-inner{
    padding: 1em;
}
.card{
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    max-width: 18rem; 
    margin-left: auto; 
    margin-right: auto;
}
.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}