/* Used to properly see containers */
* {
    outline: 1px solid red;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
  }

.card-img-wrapper{
    height: 200px;
    width: 288px; 
    object-fit: contain;
}

.get-activity-button{
    z-index: 5;
}

.reg-form-error{
    color: red;
    font-size: small;
}