{% extends 'base.html' %}

{% block title %} - My favorites{% endblock %}

{% block body %}
<h3 class="text-center mt-5" style="position:center;">Most recent to oldest</h3>
<div class="container" style="display:flex; flex-wrap:wrap; align-content:flex-start;">
{% for activity in activity_dict %}
<div class="card mt-5" style="width: 18rem; margin-left:auto; margin-right:auto; justify-content: space-evenly;">
    <div class="card-body">
      <h5 class="card-title">{{  activity_dict[activity] }}</h5>
      <ul class="list-group list-group-flush">
      </ul>
    </div>
    <div class="row">
    </div>
  </div>
{% endfor %}
</div>

{% endblock %} 