{% extends 'base.html' %} 
{% block title %}The Bored App{% endblock %}

{% block body %}

<h1>Welcome to the bored application!</h1>
{% if "user_id" not in session %}
{% endif %}
  <div class="wrapper" style="display:flex; justify-content:space-between;">

    <div id="form_wrapper" style="border-style:ridge; border-color:black; border-width:5px;">
      <form style="width:300px;"action="/activity/search">
        <!-- Key is not user friendly depreciated -->
        <!-- <label>Key</label>
        <div class="row">
          <div class="col"><input placeholder="key" type="number" class="form-control" name="key"></div>
        </div> -->
          <label for="accessibility_range">Accessibility Level (1-100)</label>
          <div class="row">
            <div class="col"><input placeholder="Low" class="form-control" type="number" name="min_accessibility" max="100" min="0"></div>
            <div class="col"><input placeholder="High" class="form-control" type="number" name="max_accessibility" max="100" min="0"></div>
          </div>
        <label>Select an activity type</label>
        <div class="row">
          <div class="col">
            <select name="a_type">
              <option value="">Select a category</option>
              <option value="">Surprise me!</option>
              <option value="diy">Do it yourself (diy)</option>
              <option value="cooking">Cooking</option>
              <option value="charity">Charity</option>
              <option value="social">Social</option>
              <option value="music">Music</option>
              <option value="recreational">Recreational</option>
              <option value="relaxation">Relaxation</option>
              <option value="education">Education</option>
              <option value="relaxing">Relaxing</option>
              <option value="busywork">Busywork</option>
            </select>
          </div>
        </div>
      <label>Participants</label>
      <div class="row">
        <div class="col"><input type="number" name="participants" max="5" min="1"></div>
      </div>
      <label>Price Range (1-100)</label>
          <div class="row">
            <div class="col"><input placeholder="Low" type="number" class="form-control" name="min_price" max="100"></div>
            <div class="col"><input placeholder="High" type="number" class="form-control" name="max_price" max="100"></div>
          </div>
      <div class="row">
        <div class="col"><input type="submit" class="btn btn-primary" value="Get Activity"></div>
      </div>
    </form>
  </div>
    <div id="ajax_activity_wrapper" style="display:flex; flex-direction:column">
      <div id="activity_suggestion" style="border-style:inset; border-width: 3px; border-color:purple;">
        <h5>Activity Suggestions</h5>
        <div id="suggested_activities" style="display:flex;">Placeholder</div>
        <button id="get_suggested_activities">Refresh</button>
      </div>
      
      <div id="most_popular" style="border-style:inset; border-width: 3px; border-color: green;">
        <h5>Top 5 most Popular Activities</h5>
        <div id="popular_activities" style="display:flex;">Placeholder</div>
      </div>
      
      <div id="all_user_activities" style="border-style:inset; border-width: 3px; border-color: brown;">
        <h5>Recently chosen activities</h5>
        <div id="user_activities" style="display:flex;">Placeholder</div>
      </div>
    </div>
</div>
  {% endblock %}