{% extends 'base.html' %} 
{% block title %}The Bored App{% endblock %}

{% block body %}
<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div style="background-color:white; width:fix-content;">
            <img src="../static/imgs/bored_cat.jpg" 
              class="w-100 img-fluid" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem; height:325px;"
              alt="A cat yawning while using a tablet">
            <div class="card-body p-4">
              {% if registration %}
              <section id="registration-section"></section>
              {% endif %}
              {% if not registration %}
              <section id="login-section"></section>
              {% endif %}
  
  {% endblock %}